<header class="header" [class.scrolled]="scrolled"  (mousemove)="handleMouseMove($event)">
  
    <div class="logo">Lukakirvalidze</div>
<nav class="nav" [class.open]="menuOpen">
  <a
    routerLink="/"
    routerLinkActive="active"
    class="magnetic-link"
    (click)="closeMenu()"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave($event)"
    >Home</a
  >
  <a
    routerLink="/about"
    routerLinkActive="active"
    class="magnetic-link"
    (click)="closeMenu()"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave($event)"
    >About</a
  >
  <a
    routerLink="/work"
    routerLinkActive="active"
    class="magnetic-link"
    (click)="closeMenu()"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave($event)"
    >Work</a
  >
  <a
    routerLink="/contact"
    routerLinkActive="active"
    class="magnetic-link"
    (click)="closeMenu()"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave($event)"
    >Contact</a
  >
</nav>
  
    
    <div class="burger" (click)="toggleMenu()">
      <span></span><span></span><span></span>
    </div>
    <div class="theme-toggle-wrapper">
      
      <input type="checkbox" id="toggleDark" (change)="toggleDarkMode()" [checked]="isDark" />
      <label for="toggleDark" class="theme-toggle">
        <div class="icon sun">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2"
    stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun">
    <circle cx="12" cy="12" r="5"></circle>
    <line x1="12" y1="1" x2="12" y2="3"></line>
    <line x1="12" y1="21" x2="12" y2="23"></line>
    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
    <line x1="1" y1="12" x2="3" y2="12"></line>
    <line x1="21" y1="12" x2="23" y2="12"></line>
    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
  </svg>
</div>

<div class="icon moon">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2"
    stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon">
    <path d="M21 12.79A9 9 0 1111.21 3a7 7 0 009.79 9.79z" />
  </svg>
</div>

        <div class="ball"></div>  
      </label>
    </div>
    
    
  </header>
  

  <div class="starry-bg">
    <div class="star" *ngFor="let star of stars" [ngStyle]="getStarStyle('star')"></div>
  </div>
  
  <div class="starry-bg" (mousemove)="handleMouseMove($event)">
    <div class="layer stars" *ngFor="let star of stars" [ngStyle]="getStarStyle('star')"></div>
<div class="layer shooting-star" *ngFor="let s of shootingStars" [ngStyle]="getStarStyle('shooting')"></div>
<div class="layer planet" *ngFor="let planet of planets" [ngStyle]="getStarStyle('planet')"></div>

  